nav
{
    background-color: black;
    color:white;
}
h1
{
    height: 38px;
    width: 140px;
}
#abc
{
    width: 10px;
    height: 10px;
}
.two
{
    height: 10px;
    width: 1782px;
    display: inline-block;
}
.three
{
    height: 10px;
    width: 1782px;
    display: inline-block;
}
img{
    height: 450px;
    width: 450px;
}